checkpoints_train__v3/
checkpoints_train_v1_32/
checkpoints_train_v1_96/
checkpoints_train_v2/
checkpoints_train_v4/
checkpoints_v1/
checkpoints_v2/
checkpoints_v3/
checkpoints_v4/
checkpoints_v5/
checkpoints_v5_feedback/
checkpoints_VF/

__pycache__/

images/
images_train_v1_32/
images_train_v2/
images_train_v3/
images_train_v4/
images_v2/
images_v3/
images_v4/
images_v5/
images_v5_hvi/
images_v5_hvi_v2/
images_v5_hvi_v3_kaggle/
images_VF/

informe/

pareto-hypernetworks/
graph-scp/

notebooks/01_etapa1.ipynb
notebooks/06_train copy.ipynb
notebooks/06_train_v2.ipynb
notebooks/06_train_v3.ipynb
notebooks/06_train_v4.ipynb
notebooks/06_train_v5.ipynb
notebooks/07_evaluate.ipynb
notebooks/07_evaluate_HVI.ipynb
notebooks/08_b_xai.ipynb
notebooks/08_xai copy.ipynb

notebooks/Etapa_1_actualizado.ipynb

src/
venv/